/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

button {
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #0f265c;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 0px 24px;
    cursor: pointer;
    height: 48px;
    font-size: 14px;
}

.primary-button {
    background-color: #ffdd00;
    color: #0f265c;
}

.primary-button:disabled {
    background-color: #fff199;
    color: #9fa8be;
}

.secundary-button {
    background-color: #e9ecf3;
    color: #0f265c;
    border: 1px solid #dee3ed;
}